<nav class="navbar navbar-dark" style="background-color: #236696;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand" style="color: white;">Users & Posts</a>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-th" style="color: white;"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-user" style="color: white;"></span></a></li>
            </ul>
        </div>
    </div>
</nav>
